<div class="container">
  <div>
    <h2>API CLUB</h2>
  </div>
  <div class="row">





    <form method="POST" action="/">
      <div class="form-group">
        <label>Défense :</label>
        <input type="text" class="form-control" name="defense">
      </div>
      <div class="form-group">
        <label>Milieu :</label>
        <input type="text" class="form-control" name="milieu">
      </div>
      <div class="form-group">
        <label>Attaque :</label>
        <input type="text" class="form-control" name="attaque">
      </div>
      <div class="form-group">
        <label>Equipe :</label>
        <input type="text" class="form-control" name="equipe">
      </div>
      <button type="submit" class="btn btn-success btn-sm">Enregistrer</button>
      <button type="button" class="btn btn-danger btn-sm">
        <a href="/" style="text-decoration: none; color: #fff">Annuler</a>
      </button>
    </form>
  </div>
</div>